body {
    background: #e96443;  /* fallback for old browsers */
      /*background: -webkit-linear-gradient(to right, #904e95, #e96443);  /* Chrome 10-25, Safari 5.1-6 */
      /*background: linear-gradient(to right, #904e95, #e96443);*/
    background-image: repeating-linear-gradient(120deg, #ccc, #ccc 10px, #dbdbdb 13px, #dbdbdb 20px);
}
.btn.btn-raised.btn-primary {
    background-color: #00838F!important;
    font-size: 14px;
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;

}
header {
    background-color:#26C6DA;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    border-radius: 15px 15px 0px 0px;
}
header h1 {
  font-size: 22px;
}
.error {
    background-color: #FBE9E7;
    border: 1px solid #F4511E;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    color: #F4511E;
}
.error p {
    margin:0;
}
#content {
    width: 50%;
    margin: 60px auto;
    background-color: white;
    -webkit-box-shadow: 0px 21px 46px -15px rgba(0,0,0,1);
    -moz-box-shadow: 0px 21px 46px -15px rgba(0,0,0,1);
    box-shadow: 0px 21px 46px -15px rgba(0,0,0,1);
    border-radius: 15px;
}
.content-form {
    margin-top: 30px;
}
#loading img {
    display: none;
    margin: 0 auto;
}
#result  {
    margin-bottom: 40px;
}
#result div {
    border: 1px solid #26C6DA;
    text-align: center;
    padding: 0  0 20px 0;
}
#result div p {
    margin-bottom: 0;
}
#result div p.header {
    background-color: #26C6DA;
    margin-bottom: 10px;
    color:white;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
.level-group {
    margin: 17px 0px 0px 17px;
}
